<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whanweather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WhanWeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhanWeather">
        <receiver
            android:name=".logic.BroadCast.TomorrowReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.whanweather.TOMORROW_NOTIFY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".logic.BroadCast.TodayWeatherReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.whanweather.TODAY_NOTIFY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ui.service.SettingService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.placeManager.HistoryRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.weather.WeatherActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>